<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
     <link href="Bootstrap/govt-icon-orange.png" />

    <title>Indian Goverment Schemes</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/Bootstrap/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/Bootstrap/blog.css" rel="stylesheet">
    <link href="/static/Bootstrap/smoke.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/Bootstrap/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/Bootstrap/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css" id="holderjs-style"></style></head>
    <script src="/static/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="/static/webappjs/scheme.js"></script>

    <script src="/static/smoke.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">

          
          
        </nav>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="page_header" style="margin-left: 372px;">
          <div class="sidebar-module col-sm-12" style="height:25;"><h2>Setup new Scheme</h2>
          </div>
        </div>
      </div><!--/row-->

        <div class="page_content">
          <div class="container-fluid">
            <div class="row">
              <div class="feild_content" style="margin-left: 191px;">
                <div class="sidebar-module col-sm-12" style="color: black;font-size: 17px;">
                  <div class="row">
                    <div class="sidebar-module col-sm-3">
                      URL link
                    </div>
                    <div class="sidebar-module col-sm-9">
                      <input type="text" placeholder="link" size=30 id="scheme_url">
                    </div>
                  </div>
                  <div class="row">
                    <div class="sidebar-module col-sm-3">
                      Scheme Name
                    </div>
                    <div class="sidebar-module col-sm-9">
                      <input type="text" placeholder="Scheme Name" size=30 id="scheme_name">
                    </div>
                  </div>
                  <div class="row">
                    <div class="sidebar-module col-sm-3">
                      Funding
                    </div>
                    <div class="sidebar-module col-sm-9">
                      <textarea id="funding" placeholder="Enter Funding here" rows=5 cols=40></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="sidebar-module col-sm-3">
                      Benefits
                    </div>
                    <div class="sidebar-module col-sm-9">
                      <textarea id="benefits" placeholder="Enter Benefits here" rows=5 cols=40></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="sidebar-module col-sm-3">
                      Target/ Focus group
                    </div>
                    <div class="sidebar-module col-sm-9">
                      <textarea id="target" placeholder="Enter Target/ Focus group here" rows=5 cols=40 ></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="sidebar-module col-sm-3">
                      Department
                    </div>
                    <div class="sidebar-module col-sm-9">
                      <textarea id="department" placeholder="Enter Department here" rows=5 cols=40 ></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="sidebar-module col-sm-3">
                      Initiation/ Coverage
                    </div>
                    <div class="sidebar-module col-sm-9">
                      <textarea id="initiation" placeholder="Enter Initiation/ Coverage here" rows=5 cols=40 ></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="sidebar-module col-sm-3">
                      Objectives
                    </div>
                    <div class="sidebar-module col-sm-9">
                      <textarea id="objectives" placeholder="Enter Objectives here" rows=5 cols=40 ></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="sidebar-module col-sm-3">
                      Eligibility
                    </div>
                    <div class="sidebar-module col-sm-9">
                      <textarea id="eligibility" placeholder="Enter Eligibility here" rows=5 cols=40 ></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="sidebar-module col-sm-3">
                      Documents Needed
                    </div>
                    <div class="sidebar-module col-sm-9">
                      <textarea id="documents" placeholder="Enter Documents here" rows=5 cols=40 ></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-left: 372px;">
               <a id='add_btn' href='#' class="btn btn-primary btn-mini backLink" style="right:7%;">
                    <span>Add Scheme</span>
                    <i class="icon-arrow-right icon-white" style="margin-left:5px;"></i>
               </a>
               <a id='clear_btn' href='#' class="btn btn-primary btn-mini backLink" style="right:7%;">
                    <span>Clear All</span>
                    <i class="icon-arrow-right icon-white" style="margin-left:5px;"></i>
               </a>
               </div>
            </div>
          </div>
        </div>
    </div><!-- /.container-fluid -->


    <div class="blog-footer">
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>


  
 </body>
 
</html>
